*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.font.inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}

header{
    background-color: #FFFFFF;
    padding-top: 16px;
}
/*shear code*/

.Btn{
    background: transparent;
    color: white;
    border: 1px solid;
    margin-bottom:18px;
    padding: 12px 18px ;
    border-radius: 5px;
    padding-top: 32ps;
}
.btn{
    background-color: #469165;
    border: none;
    padding: 12px 18px;
    border-radius: 5px;
    margin-bottom: 18px;
    margin-right: 16px;

}
.btn:hover{
    background-color: darkgreen;
    cursor: pointer;
}
/*main code*/

nav{
    width: 85%;
    max-width: 1360;
    margin: 0 auto;
   
}

nav {
     display: flex;
    justify-content: space-between;
}

nav .nav-pic{
    width: 139px 60px;
    margin-bottom: 16px;
}

nav .manu{
    display: flex;
    gap: 32px;
    list-style-type: none;
}
nav .manu a{
    font-size: 16px;
    color: #000000;
    text-decoration: none;
    margin-bottom: 16px;
    padding: 16px auto;
}
.benner{
    background-image: url(image/hero-bg.png);
    background-repeat: no-repeat;
   height: 674px;
   margin: 0;
   
}

section .hero  {
    padding-top: 70px;
    width: 85%;
    max: width 1360px; ;
   margin: 0 auto;
   text-align: center;
}

.hero h2 {
    color: #FFFFFF ;
    font-size: 72px;
    padding: 16px;
   
}

#note{
  padding-top: 48px;width: 85%;
    max: width 1360px; ;
   margin: 0 auto;
   text-align: center;
}

#note .note-head h2{
    font-size: 48px;
    color: #001931;
    padding-bottom: 16px;
}
#note .note-head p{
    font-size: 16px;
    color: #627382;
    padding-bottom: 44px;
}

#note .note-card .img{
    max-block-size: 60px;
}
#note .note-body{
    display: flex;
    gap: 24px;
}

.note-body .note-card{
    padding: 24px;
    max-width: 322px;
    box-shadow: 0 0 8px 0 #0000002a;
 
}

.note-card h3{
    color: #001931;
    font-size: 24px;
    padding: 16px auto;
}

.light-main{
    max-width: 1360px;
    max-height: 600px;
    padding: 120px;
    display: flex;
    align-items: center;
    gap: 60px;
   
}

.pera{
     margin: 0 auto;
   text-align: left;
}
.pera h1{
    color: #469165;
    font-size: 16px;
    font-weight: normal;
    padding-bottom: 16px;
}

.pera h3{
    color: #001931;
    font-size: 48px;
    max-width: 600px;
    padding-bottom: 16px;
}

.pera p{
    max-width: 700px;
    font-size: 16px;
    padding-bottom: 40px;
}

.pera ul li{
    color: #001931;
    font-size: 16px;
}

.think{
    padding-bottom: 120px;
}

.think .tnk{
    width: 85%;
    max: width 1360px; ;
    height: 384px;
   margin: 0 auto;
   text-align: center;
   background-color: #F7F6F2;
   padding: 80px 40px ;
}

.tnk h3{
    color: #001931;
    font-size: 40px;
    font-weight: bold;
    padding-bottom: 16px;
}

.tnk h1{
    color: #627382;
    font-size: 18px;
    padding-bottom: 24px;
    font-weight: 200;
}

.foot{
    padding: 120px;
    background-color: #001931;
    display: flex;
    justify-content: space-between;
}

.foot-pic{
    width: 139px;
    height: 60px;
}

.social h3{
    color: #FFFFFF;
    font-size: 20px;
    font-weight:normal;
}

.copy-right{
     background-color: #001931;
     font-size: 16px;
     text-align: center;
     padding-bottom: 24px;
     padding-top: 16px;
     border-width: 1360px;
     border-top: 1.5px solid #000000;
     color: #FAFAFA;
     align-items: center;
}