*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.font.inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}

header{
    background-color: #FFFFFF;
    padding-top: 16px;
}
/*shear code*/

.Btn{
    background: transparent;
    color: white;
    border: 1px solid;
    margin-bottom:18px;
    padding: 12px 18px ;
    border-radius: 5px;
}
.btn{
    background-color: #469165;
    border: none;
    padding: 12px 18px;
    border-radius: 5px;
    margin-bottom: 18px;
    margin-right: 16px;
}
.btn:hover{
    background-color: darkgreen;
    cursor: pointer;
}
/*main code*/

nav{
    width: 85%;
    max-width: 1360;
    margin: 0 auto;
   
}

nav {
     display: flex;
    justify-content: space-between;
}

nav .nav-pic{
    width: 139px 60px;
    margin-bottom: 16px;
}

nav .manu{
    display: flex;
    gap: 32px;
    list-style-type: none;
}
nav .manu a{
    font-size: 16px;
    color: #000000;
    text-decoration: none;
    margin-bottom: 16px;
    padding: 16px auto;
}
section{
    background-image: url(image/hero-bg.png);
    background-repeat: no-repeat;
   height: 674px;
   margin: 0;
   
}

section .hero {
    padding-top: 70px;
    width: 85%;
    max: width 1360px; ;
   margin: 0 auto;
   text-align: center;
}

.hero h2 {
    color: #FFFFFF ;
    font-size: 72px;
    padding: 16px;
}

.hero p{
    font-size: 18px;
    margin-bottom: 36px;
    color: #FFFFFF;
}

